@{
    ViewData["Title"] = "Home Page";
}
@model ProjectAm.Models.Sign
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<h2>Users</h2>

<label asp-for="Login"></label>
<label asp-for="Phone"></label>
<label asp-for="Email"></label>
<label asp-for="Password"></label>

<style>
    .label{
        font-family:Calibri;
        font-size:14px;
    }
</style>